.thing-form {
    margin: 20px 0;
}

#banner {
    background-image: url('../assets/images/nyc.jpg');
    background-size: cover;
    height: 450px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
    margin-left: 15px;
}

dd {
    margin-bottom: 1em;
}